<!-- primary navigation -->
<ul class="nav" role="menu">
    <li class="nav-good-news" role="menuitem"><a href="http://localhost:2368/tag/news/">Good News</a></li>
    <li class="nav-17-goals" role="menuitem"><a href="http://localhost:2368/17ziele_17sdg/">17 Goals</a></li>
    <li class="nav-editorial" role="menuitem"><a href="http://localhost:2368/editorial/">Editorial</a></li>
    <li class="nav-newsletter-abo" role="menuitem"><a href="http://localhost:2368/newsletter-abo/">Subscribe To Newsletter</a></li>
</ul>
