<div class="md-modal md-effect-12">
    <div class="md-content">
        <img src="" class="image-responsive  bounce" id="modalImage"/>
        <center><h1 id="modalTitle" class="modalTitle"></h1></center>
        <div>
            <blockquote id="modalCaption"></blockquote>
            <blockquote class="modalCaption">Back to All Goals Back to All Goals Back to All GoalsBack to All Goals</blockquote>
            <center>

            <a class="btn btn-stylish" href="#" id="modalLink"></a>
            <a class="close-modal lower-close">Back to All Goals</a>
            </center>
        </div>
    </div>
    <button class="md-close close-modal"><strong>X</strong></button>
</div>
<div class="md-overlay"></div>