<div class="md-modal md-effect-12">
    <div class="md-content">
        <img src="" class="image-responsive animated flipInY" id="modalImage"/>
        <center><h1 id="modalTitle" class="modalTitle"></h1></center>
        <div>
            <blockquote id="modalCaption" class="animated bounceInUp"></blockquote>
            <center>

            <a class="btn btn-stylish animated fadeIn" href="#" id="modalLink"></a>
            </center>
        </div>
    </div>
    <button class="md-close"><strong>X</strong></button>
</div>
<div class="md-overlay"></div>