<ul class="menu">
    {{#if @site.navigation}}
        {{navigation}}
    {{/if}}
    {{#is "post"}}
        <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
    {{/is}}
</ul>

