{{!< default-en}}
{{!-- The tag above means: insert everything in this file
  into the {body} of the default.hbs template --}}

{{> site-header en="en"}}

{{!-- The main content area --}}

<section class="whitespace"></section>

<main id="site-main" class="site-main outer">

    <section>
        <h1 class="post-full-title">How people are moving the world, one story at a time</h1>
        <hr/>
        <p class="post-full-custom-excerpt">Our inspiring and exciting stories show that positive change is in full swing. We share intiatives from people and organizations, foundations and companies, science and politics, and show how they all contribute to achieving the 17 goals. Scroll and discover.
    </section>

    <div class="inner posts">
        <div class="post-feed">
            {{#get "posts" filter="tag:-[german,solutions,in-a-nutshell,news-and-events-en,hash-read-online-en,17-goals-blog-award-en]+tag:english" include="tags,authors" limit="all"}}
                {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card" en="en"}}
                {{/foreach}}
            {{/get}}
        </div>
    </div>

</main>



{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    <script>
    $(document).ready(function () {
      var nav = document.querySelector('.header');
      nav.classList.remove('transparent');
    });
    </script>
{{/contentFor}}