{{!< default}}
{{!-- The tag above means: insert everything in this file
  into the {body} of the default.hbs template --}}
{{#contentFor "extraheads"}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/animate.css"}}"/>
{{/contentFor}}

{{> site-header}}

{{!-- The main content area --}}

<section class="whitespace"></section>


<main id="site-main" class="site-main outer">

    <section>
        <h1 class="post-full-title">Alle Geschichten</h1>
        <hr/>
        <p class="post-full-custom-excerpt">{{t "All Posts Intro"}}</p>
        </p>
    </section>

    <div class="inner posts">
        <div class="post-feed">
            {{#get "posts" filter="tag:-english+tag:german" include="tags,authors" limit="all"}}
                {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </div>

</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    <script>
    $(document).ready(function () {
      var nav = document.querySelector('.header');
      nav.classList.remove('transparent');
    });
    </script>
{{/contentFor}}