
.t-container {
      width: 100vw;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

}

.t-header {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
  overflow: hidden;
  transition: 0.45s ease 0.05s;

}
.t-header-title {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.3em;
  color: #333;
  margin-bottom: 15px;
}

.team-container {
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.person {
  width: calc(25% - 30px);
  overflow: hidden;
  transition: 0.45s;
  position: relative;
}
.person-details {
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
.person-img {
    width: 85%;
    border-radius: 50%;
    transform: translate(8%);
}
.person-list .person:nth-child(1)>.person-img{
   border:3px solid  #56C02B;
}
.person-list .person:nth-child(2)>.person-img{
   border:3px solid  #FD6925;
}
.person-list .person:nth-child(3)>.person-img{
   border:3px solid  #26BDE2;
}
.person-list .person:nth-child(4)>.person-img{
   border:3px solid  #DD1367;
}
.person-title {
  color: #333;
  font-size: 2rem;
}
.person-title a{
float:right;
margin-top: -.8rem;
}

.person-desc {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}
.person-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.person-list:hover .person {
  opacity: 0.3;
  filter:blur(2px);
}
.person:hover {
  opacity: 1 !important;
  filter:unset !important;
}
.person:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  content: "";
  height: 0px;
  transition: 0.45s;
}
blockquote {
    margin: 1.5em 0;
    padding: 0 1.6em;
    border-left: .2em solid #00afaa;
    font-style: italic;
}
.intro-text{
    font-size: 2rem;
    line-height: 3.5rem;
}

@media (max-width: 1200px) {

  .person .person-title {
    font-size: 1.7em;
  }

  .person-details {
    padding: 0 10px;
  }
}
@media (max-width: 970px) {

  .team-detail-header {
    text-align: center;
  }

  .t-container-ready .person-selected {
    width: 50px !important;
  }

  .team-detail {
    width: calc(100% - 50px);
  }

  .person {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .person {
    width: 100%;
    margin-bottom: 50px;
  }

  .t-header {
    margin-top: 50px;
  }
  .person-list:hover .person {
    opacity: 0.8;
    filter:unset;
  }
}
